function GameManager.new 0
push constant 6
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push this 0
call Snake.getSquareSize 1
pop this 3
call Settings.maxScreenX 0
push constant 2
call Math.divide 2
call Settings.maxScreenY 0
push constant 2
call Math.divide 2
push this 3
call Food.new 3
pop this 2
push constant 16
call Drawer.new 1
pop this 1
push constant 0
pop this 4
push constant 1000
push this 0
call Snake.getMoveSpeed 1
push constant 5
call Math.multiply 2
call Math.divide 2
pop this 5
push pointer 0
return
function GameManager.dispose 0
push argument 0
pop pointer 0
push this 0
call Snake.dispose 1
pop temp 0
push this 2
call Food.dispose 1
pop temp 0
push this 1
call Drawer.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function GameManager.run 2
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 1
push argument 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
call Drawer.welcome 1
pop temp 0
label IF_FALSE0
call Screen.clearScreen 0
pop temp 0
push this 0
call Snake.draw 1
pop temp 0
push this 2
call Food.draw 1
pop temp 0
label WHILE_EXP0
push local 0
not
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 1
push this 2
call Food.draw 1
pop temp 0
push local 1
push constant 0
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push local 1
call Snake.canMove 2
push constant 1
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
push local 1
call Snake.move 2
pop temp 0
label IF_FALSE2
push this 0
push local 1
call Snake.canMove 2
push constant 0
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 0
push this 0
call Snake.getHeadDirection 1
call Snake.move 2
pop temp 0
label IF_FALSE3
push this 0
push local 1
call Snake.canMove 2
push constant 1
neg
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
call GameManager.clearFood 1
pop temp 0
push this 1
call Drawer.gameOver 1
pop temp 0
push constant 0
return
label IF_FALSE4
label IF_FALSE1
call Settings.isDebug 0
not
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 1
push constant 0
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 0
push this 0
call Snake.getHeadDirection 1
call Snake.canMove 2
push constant 1
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push this 0
push this 0
call Snake.getHeadDirection 1
call Snake.move 2
pop temp 0
label IF_FALSE7
push this 0
push this 0
call Snake.getHeadDirection 1
call Snake.canMove 2
push constant 1
neg
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push pointer 0
call GameManager.clearFood 1
pop temp 0
push this 1
call Drawer.gameOver 1
pop temp 0
push constant 0
return
label IF_FALSE8
label IF_FALSE6
label IF_FALSE5
push pointer 0
call GameManager.isCollidedWithFood 1
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push this 0
call Snake.eat 1
pop temp 0
push this 1
call Drawer.incrementScore 1
pop temp 0
push pointer 0
call GameManager.spawnFood 1
pop temp 0
label IF_FALSE9
call Settings.isDebug 0
not
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push this 1
call Drawer.drawStatusBar 1
pop temp 0
label IF_FALSE10
call Settings.isDebug 0
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push this 1
call Drawer.drawDebugStatusBar 1
pop temp 0
label IF_FALSE11
push this 5
call Sys.wait 1
pop temp 0
push pointer 0
call GameManager.updateTime 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function GameManager.spawnFood 2
push argument 0
pop pointer 0
push this 4
call Random.setSeed 1
pop temp 0
call Settings.maxScreenX 0
call Random.randRange 1
pop local 0
call Settings.maxScreenY 0
call Random.randRange 1
pop local 1
push this 2
push local 0
push local 1
call Food.setPosition 3
pop temp 0
push this 2
call Food.draw 1
pop temp 0
push constant 0
return
function GameManager.clearFood 0
push argument 0
pop pointer 0
push this 2
call Food.clear 1
pop temp 0
push constant 0
return
function GameManager.isCollidedWithFood 0
push argument 0
pop pointer 0
push this 0
call Snake.getHeadX 1
push this 2
call Food.getX 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
call Snake.getHeadY 1
push this 2
call Food.getY 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
return
label IF_FALSE1
label IF_FALSE0
push constant 0
return
function GameManager.updateTime 0
push argument 0
pop pointer 0
push this 4
push this 5
add
pop this 4
push this 4
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop this 4
label IF_FALSE0
push this 4
push constant 1000
call Util.mod 2
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 1
call Drawer.incrementSec 1
pop temp 0
label IF_FALSE1
push constant 0
return
